<h2>Your Accounts</h2>
<ul>
  <li *ngFor="let account of accounts">
    {{ account.type }}: {{ account.solde}}
  <!-- <button (click)="viewTransactions(account.id)">View Transactions</button> -->
  </li>
</ul>
<form (ngSubmit)="createAccount(accountType.value, initialBalance.value)">
  <h3>Create New Account</h3>
  <div>
    <label for="accountType">Account Type:</label>
    <select id="accountType" #accountType>
      <option value="COURANT">Current</option>
      <option value="EPARGNE">Savings</option>
    </select>
  </div>
  <div>
    <label for="initialBalance">Initial Balance:</label>
    <input id="initialBalance" type="number" #initialBalance>
  </div>
  <button type="submit">Create Account</button>
</form>